.gridview{
    text-align: left; display: grid; grid-template-columns: auto auto;  gap: 20px;
}

@media (max-width: 650px) {
    .gridview{
        text-align: center; display: grid; grid-template-columns:auto;  gap: 20px;
    }
}
